#example1 {
    box-sizing: content-box;  
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid blue;
}
  
#example2 {
    box-sizing: border-box;
    width: 300px;
    height: 100px;
    padding: 30px;  
    border: 10px solid blue;
}