h1.z{
    color: purple;
    background-color: #808080;
}


.container {
    position: relative;
}
.black-box {
    position: relative;
    z-index: 1;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
}
.gray-box {
    position: absolute;
    z-index: 3;
    background: lightgray;
    height: 60px;
    width: 70%;
    left: 50px;
    top: 50px;
}
.green-box {
    position: absolute;
    z-index: 2;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
}



.container1 {
    position: relative;
}
.black-box1 {
    position: relative;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
 }
.gray-box1 {
    position: absolute;
    background: lightgray;
    height: 60px;  
    width: 70%;
    left: 50px;
    top: 50px;
}  
.green-box1 {
    position: absolute;
    background: lightgreen;
    width: 35%;
    left: 270px;
    top: -15px;
    height: 100px;
}