body{
    text-align: center;
}
h2.z {
    color: purple;
    background-color: #808080;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}  
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* right tooltip */
.tooltip1 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}  
.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
}  
.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

/* left tooltip */
.tooltip2 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 105%;
}  
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

/* top tooltip */
.tooltip3 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}
.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip3:hover .tooltiptext3 {
    visibility: visible;
}

/* bottom tooltip */
.tooltip4 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
.tooltip4 .tooltiptext4 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
}  
.tooltip4:hover .tooltiptext4 {
    visibility: visible;
}
  

.tooltip5 {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}  
.tooltip5 .tooltiptext5 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}  
.tooltip5 .tooltiptext5::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }  
  .tooltip5:hover .tooltiptext5 {
    visibility: visible;
  }
  
  